<div class="flow-root overflow-x-auto">
  <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 overflow-x-auto">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class='uppercase'>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Id</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Token</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Url</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Role</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Updated</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% if @credentials.present? %>
            <% @credentials.each do |credential| %>
              <tr>
                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                  <%= link_to "#{credential.id}", credential_path(credential.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
                <td class="px-3 py-4 text-sm text-gray-500"><%= credential.token %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= credential.url %></td>
                <td class="px-3 py-4 text-sm text-gray-500">
                  <% credential.roles.each do |role| %>
                    <span class='my-1 inline-flex items-center bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-purple-800'><%= role.role.upcase %></span>
                  <% end %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= credential.updated_at%></td>
              </tr>
            <% end %>
          <% else %>
            <tr class='text-center'><td colspan='5' class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">No Credential Data</td></tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'shared/pagination', data: { pagy: pagy } %>
    </div>
  </div>
</div>