<div class="flow-root overflow-x-auto">
  <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class='uppercase'>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Id</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Website</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Role</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Party id</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Country code</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% credential_roles.each do |credential_role| %>
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= credential_role.id %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= link_to credential_role.business_detail.name %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= credential_role.business_detail.website %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= credential_role.role.role %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= credential_role.role.party_id %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= credential_role.role.country_code %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%#= render 'shared/pagination', data: { pagy: @pagy } %>
    </div>
  </div>
</div>