 <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= link_to "#{location.uid}", location_path(location.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
        </p>
      </td>

      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= location.name %>
        </p>
      </td>

      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= location.party_id %>
        </p>
      </td>

      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= location.country_code %>
        </p>
      </td>

      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= location.publish %>
        </p>
      </td>


      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= location.operator.try(:name) %>
        </p>
      </td>

      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= location.last_updated %>
        </p>
      </td>
    </tr>
  <% end %>
</tbody>