<div class="overflow-hidden bg-white">
  <%
=begin%>
 <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Applicant Information</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p>
  </div> 
<%
=end%>
  <div class="px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-4 sm:grid-cols-4">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Code</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.code %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Registration No</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.registration_no %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Name</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.name %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Email</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.email %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Country</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.country %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">City</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.city %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">State</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.state %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Address</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.address %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Website Url</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.website_url %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Mobile Phone</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.mobile_phone %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Overviw</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.overview %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Created At</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.created_at %></dd>
      </div>
    </dl>
  </div>

  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
   <h5 class="text-md font-medium leading-6 text-gray-900">User Information</h5>
    <dl class="mt-5 grid grid-cols-1 gap-x-4 gap-y-4 sm:grid-cols-3">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">ID</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.user&.id %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Email</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.user&.email %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Full Name</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @partner.user&.name %></dd>
      </div>
    </dl>
  </div>
</div>
