<div class="flow-root overflow-x-auto">
  <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 overflow-x-auto">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class='uppercase'>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Party ID-Country Code</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Number</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Standard</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Format</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Power Type</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Max Voltage</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Max Amperage</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Max electric Power (kW)</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Updated</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% if @connectors.present? %>
            <% @connectors.each do |connector| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                  <%= link_to "#{connector.evse.location.party_id} - #{connector.evse.location.country_code}", connector_path(connector.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= connector.uid %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= connector.standard %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= connector.format %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= connector.power_type%></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= connector.max_voltage%></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= connector.max_amperage%></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= connector.max_electric_power.to_f * 1000%></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= connector.last_updated%></td>
              </tr>
            <% end %>
          <% else %>
            <tr class='text-center'><td colspan='9' class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">No Connectors Data</td></tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'shared/pagination', data: { pagy: pagy } %>
    </div>
  </div>
</div>