<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="border-gray-200 px-4 py-5 sm:px-6">
    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-12">
      <div class="md:col-span-12">
        <%= location.check_box :publish, disabled: true %>
        <%= location.label :publish, "Publish", class: "text-sm font-medium leading-6 text-gray-900" %>
      </div>

      <div class="sm:col-span-6">
        <label for="uid" class="block text-sm font-medium leading-6 text-gray-900">UID<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :uid, autofocus: true, disabled: true, autocomplete: "uid", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="party_id" class="block text-sm font-medium leading-6 text-gray-900">Party ID<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :party_id, autofocus: true, disabled: true, autocomplete: "party_id", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="country_code" class="block text-sm font-medium leading-6 text-gray-900">Country Code<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :country_code, autofocus: true, disabled: true, autocomplete: "country_code", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :name, autofocus: true, disabled: true, autocomplete: "name", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Address<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :address, autofocus: true, disabled: true, autocomplete: "address", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="state" class="block text-sm font-medium leading-6 text-gray-900">State<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :state, autofocus: true, disabled: true, autocomplete: "state", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="city" class="block text-sm font-medium leading-6 text-gray-900">City<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :city, autofocus: true, disabled: true, autocomplete: "city", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Country<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :country, autofocus: true, disabled: true, autocomplete: "country", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="time_zone" class="block text-sm font-medium leading-6 text-gray-900">Time Zone<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :time_zone, autofocus: true, disabled: true, autocomplete: "time_zone", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="postal_code" class="block text-sm font-medium leading-6 text-gray-900">Postal Code<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :postal_code, autofocus: true, disabled: true, autocomplete: "postal_code", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="last_updated" class="block text-sm font-medium leading-6 text-gray-900">Last Updated<span class='text-red-600'> *</span></label>
        <div class="mt-2">
          <%= location.text_field :last_updated, autofocus: true, disabled: true, autocomplete: "last_updated", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
    </div>

    <%
=begin%>
 <details>
      <summary class="border-b border-gray-200 bg-indigo-500 px-4 py-2 mt-5 mb-5 cursor-pointer my-1">
        <h3 class="text-md font-medium leading-6 text-white">Coordinates</h3>
      </summary>

      <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-12 px-4">
        <%= location.fields_for :coordinates, @location.coordinates do |coordinates_field| %>
          <div class="sm:col-span-6">
            <label for="latitude" class="block text-sm font-medium leading-6 text-gray-900">Latitude<span class='text-red-600'> *</span></label>
            <div class="mt-2">
              <%= coordinates_field.text_field :latitude, autofocus: true, disabled: true, autocomplete: "latitude", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <label for="longitude" class="block text-sm font-medium leading-6 text-gray-900">Longitude<span class='text-red-600'> *</span></label>
            <div class="mt-2">
              <%= coordinates_field.text_field :longitude, autofocus: true, disabled: true, autocomplete: "longitude", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
        <% end %>
      </div>
    </details> 
<%
=end%>

    <div class="border-b border-gray-200 bg-indigo-500 px-4 py-2 mt-5 mb-5">
      <h3 class="text-md font-medium leading-6 text-white">Coordinates</h3>
    </div>

    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-12 px-4">
      <%= location.fields_for :coordinates, @location.coordinates do |coordinates_field| %>
        <div class="sm:col-span-6">
          <label for="latitude" class="block text-sm font-medium leading-6 text-gray-900">Latitude<span class='text-red-600'> *</span></label>
          <div class="mt-2">
            <%= coordinates_field.text_field :latitude, autofocus: true, disabled: true, autocomplete: "latitude", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="longitude" class="block text-sm font-medium leading-6 text-gray-900">Longitude<span class='text-red-600'> *</span></label>
          <div class="mt-2">
            <%= coordinates_field.text_field :longitude, autofocus: true, disabled: true, autocomplete: "longitude", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="border-b border-gray-200 bg-indigo-500 px-4 py-2 mt-5 mb-5">
      <h3 class="text-md font-medium leading-6 text-white">Facilities</h3>
    </div>
    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-12 mt-5 px-4">
      <div class="sm:col-span-6">
        <label for="parking_type" class="block text-sm font-medium leading-6 text-gray-900">Parking Type</label>
        <div class="mt-2">
          <%= location.text_field :parking_type, autofocus: true, disabled: true, autocomplete: "parking_type", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="facilities" class="block text-sm font-medium leading-6 text-gray-900">Facilities</label>
        <div class="mt-2">
          <div class='px-3 disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'> 
            <% location.object.facilities.each do |fa| %>
              <span class='inline-flex items-center bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-purple-800'><%= fa.to_s.upcase %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-200 bg-indigo-500 px-4 py-2 mt-5 mb-5">
      <h3 class="text-md font-medium leading-6 text-white">Business Detail</h3>
    </div>
    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-12 mt-5 px-4">
      <%= location.fields_for :operator, @location.operator do |operator_field| %>
        <div class="sm:col-span-4">
          <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Operator</label>
          <div class="mt-2">
            <%= operator_field.text_field :name, autofocus: true, disabled: true, autocomplete: "name", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
      <% end %>

      <%= location.fields_for :sub_operator, @location.sub_operator do |sub_operator_field| %>
        <div class="sm:col-span-4">
          <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Sub Operator</label>
          <div class="mt-2">
            <%= sub_operator_field.text_field :name, autofocus: true, disabled: true, autocomplete: "name", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
      <% end %>

      <%= location.fields_for :owner, @location.owner do |owner_field| %>
        <div class="sm:col-span-4">
          <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Owner</label>
          <div class="mt-2">
            <%= owner_field.text_field :name, autofocus: true, disabled: true, autocomplete: "name", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
      <% end %>

      <div class="sm:col-span-6">
        <%= location.check_box :charging_when_closed, disabled: true %>
        <%= location.label :charging_when_closed, "Charging when closed", class: "text-sm font-medium leading-6 text-gray-900" %>
      </div>
    </div>

    <div class="border-b border-gray-200 bg-indigo-500 px-4 py-2 mt-5 mb-5">
      <h3 class="text-md font-medium leading-6 text-white">Opening Times</h3>
    </div>
    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-12 mt-5 px-4">
      <%= location.fields_for :opening_times, @location.opening_times do |opening_times_field| %>
        <div class="sm:col-span-12 px-4">
          <%= opening_times_field.check_box :twentyfourseven, disabled: true %>
          <%= opening_times_field.label :twentyfourseven, "Twentyfourseven", class: "text-sm font-medium leading-6 text-gray-900" %>
        </div>

        <% if opening_times_field.object.regular_hours.present? %>
          <div class="sm:col-span-12">
            <div class="border-b border-gray-200 bg-indigo-500 px-4 py-2 mb-5">
              <h3 class="text-md font-medium leading-6 text-white">Regular Hours</h3>
            </div>
            <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-12 mt-5 px-4">
              <div class="sm:col-span-4">
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Weekday</label>
              </div>
              <div class="sm:col-span-4">
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Period Begin</label>
              </div>
              <div class="sm:col-span-4">
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Period End</label>
              </div>

              <%= opening_times_field.fields_for :regular_hours do |regular_hour_field| %>
                <div class="sm:col-span-4">
                  <div class="">
                    <%= regular_hour_field.text_field :weekday, autofocus: true, disabled: true, autocomplete: "name", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
                  </div>
                </div>

                <div class="sm:col-span-4">
                  <%= regular_hour_field.text_field :period_begin, autofocus: true, disabled: true, autocomplete: "name", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
                </div>

                <div class="sm:col-span-4">
                  <%= regular_hour_field.text_field :period_end, autofocus: true, disabled: true, autocomplete: "name", class: "disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
                </div>
              <% end %> 
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
